
<div class="card">
    <p-toast></p-toast>
    <h1>Account List</h1>
    <p-button (click)="redirectCreate()" label="Crear cuenta"></p-button><br><br>
    <p-table [value]="accounts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th style="text-align: center;">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>{{account.id}}</td>
                <td>{{account.name}}</td>
                <td>{{account.email}}</td>
                <td>{{account.password}}</td>
                <td style="text-align: center;">
                    <span style="cursor:pointer;color:green;" (click)="editAccount(account)"><i class="pi pi-user-edit"></i></span>
                    <span style="cursor:pointer;color:red;" (click)="deleteAccount(account)"><i class="pi pi-trash"></i></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>