<div class="d-flex" id="content-wrapper" *ngIf="(auth.isAuthenticated$ | async)">

    <app-sidebar></app-sidebar>

    <div class="w-100">
      <app-header></app-header>

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <section class="bg-light py-3">
          <div class="container">
              <div class="row">
                  <div class="col-lg-9 col-md-8">
                    <h1 class="font-weight-bold mb-0">Bienvenido {{nameUser}}</h1>
                    <p class="lead text-muted">Este es un proyecto DEMO CRUD desarrollado en Angular.</p>
                  </div>
              </div>
          </div>
      </section>

      <router-outlet></router-outlet>
    </div>

    </div>
</div>