<h1>Crear cuenta</h1>
<p-toast></p-toast>
<form [formGroup]="accountForm">
    <div class="p-fluid p-grid">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="inputtext" pInputText formControlName="name"> 
        </div><br>
        <div class="form-group">
            <label>Email</label>
            <input type="text" id="inputtext" pInputText formControlName="email"> 
        </div><br>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" id="inputtext" pInputText formControlName="password"> 
        </div><br>
        <div class="form-group">
            <p-button label="Crear cuenta" (click)="save()"></p-button><br><br>
            <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="cancel()"></button>
        </div>
    </div>
</form>